The Dump<br />
{{ junk }}<br />
<p>
<h4>The List</h4>


<table>
    <tr ng-repeat="stuff in junk">
        <td>
            {{ stuff.id }}
        </td>
        <td>
            {{ stuff.username }}
        </td>
        <td>
            {{ stuff.date_joined }}
        </td>
    </tr>
    </div>
</table>
=======================================================</br>


    {{arse}}
    

<div ng-show="loggedin" class="panel panel-default">
    <h3>{{name}}</h3></br>
</div>

<div ng-show="login.isLoggedIn()" class="panel panel-default">
    <h3>{{login.user.name}}</h3></br>
</div>