
<div ng-show="login.isLoggedIn()" class="panel panel-default">
    <div class="panel-body">
        <div class="main pagination-centered">
            <new-Timer start-Time="{{ timer.startTime }}" end-Time="{{ timer.endTime }}" state="{{ timer.state }}"></new-Timer><br />

            <button class="btn btn-default btn-lg" ng-hide="timer.state" ng-click="start()">Start</button>
            <button class="btn btn-default btn-lg" ng-show="timer.state" ng-click="stop()">Stop</button>
               
        </div>
    </div>
</div>