Current time is: <new-Timer start-Time="{{ timer.startTime }}" end-Time="{{ timer.endTime }}" state="{{ timer.state }}"></new-Timer><br />

<button ng-hide="timer.state" ng-click="start()">Start</button>
<button ng-show="timer.state" ng-click="stop()">Stop</button>

<P>&nbsp;</P>
<br />
    Debug <input type="checkbox" ng-model="showDebug">
    <div ng-show="showDebug">
        <pre><code>
            <H3>DEBUG Woo!@</H3><br />
            <button ng-click="update()">Update</button><br />
            State: {{ timer.state }}<br />
            Checked In: {{ timer.startTime }}<br />
            Checked Out: {{ timer.endTime }}<br />

            <h3>myState: </h3>{{ timer }}<br />


            <h3>Stuff: </h3>{{ stuff }}<br />

            <h3>Junk: </h3>
            {{ junk }}
        </code></pre>
    </div>
